:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --divbackgound: #302d4b;
  --themecolor: #ebeff3;
  --textcolor: #000000;
  /* --highlightedtext: #9155fd; */
  --highlightedtext: rgba(0, 119, 182, 1);
  --greytext: #9794af;
  --databackgroundgradient: rgba(231, 227, 252, 0.04);
  --scrollbar-track: #f4f7fe;
  --scrollbar-thumb: #d3d9e9;

  --boxshadowcolor: rgb(19 17 32 / 42%) 0px 4px 8px -4px;
  /* --backgroundimagegradient: linear-gradient(
    98deg,
    rgb(145, 85, 253),
    rgb(198, 167, 254) 94%
  ); */
  --backgroundimagegradient: linear-gradient(
    86.3deg,
    rgba(0, 119, 182, 1) 3.6%,
    rgba(8, 24, 68, 1) 87.6%
  );
}

body {
  margin: 0;
  display: flex;
  background-color: var(--themecolor);
  color: var(--textcolor);
  font-family: "Nunito";
}

body::-webkit-scrollbar {
  width: 0.75rem !important;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbar-track) !important;
}
body::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb) !important;
  border-radius: 20px;
}

#root {
  width: 100%;
  display: flex;
}
