.home {
  position: relative;
  height: 100%;
}

.homePage {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.subtitle {
  font-size: 14px;
  margin-top: 4px;
}

.tipData {
  display: flex;
  align-items: center;
  font-size: 20px;
  justify-content: space-between;
}

.totalAVAX {
  display: flex;
  justify-content: center;
}

.orderTotalAmount {
  margin-top: 16px;
  margin-bottom: 32px;
  font-size: 24px;
}

.header {
  height: 10%;
  width: 100%;
  border-bottom: 1px solid var(--divbackgound);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
}

.tipMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 16px;
  display: flex;
  width: 100%;
}

.serverTitle {
  font-size: 32px;
  font-weight: 600;
  margin: 32px 32px 16px 32px;
  display: flex;
  justify-content: center;
  width: auto;
}

.details {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  width: 80%;
}

.orderDetails {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  padding: 12px;
}

.addOrderSection {
  display: flex;
  flex-direction: column;
}

.ordersSection {
}

.eachData {
  border: 1px solid var(--textcolor);
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 6px;
}

.leaderboard {
  display: flex;
  flex: 0.5;
  flex-direction: column;
  padding: 12px;
}

.buttonDisable {
  cursor: not-allowed;
  opacity: 0.6;
}

.transactionData {
  margin-bottom: 8px;
  display: flex;
}

.transactionData:last-child {
  margin-bottom: 0px;
}

.tipTitle {
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 32px;
}

.transactionData span,
.transferData span {
  padding-left: 8px;
  width: 75%;
  padding: 12px;
}

.transactionData strong,
.transferData strong {
  width: 25%;
  background-color: var(--databackgroundgradient);
  border-radius: 0px 100px 100px 0px;
  padding: 12px;
}

.withdrawSection {
  margin: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.withdraw {
  margin-bottom: 32px;
}

.submitButton {
  background: var(--backgroundimagegradient);
  color: white;
  border-radius: 8px;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px 2px var(--highlightedtext);
  -moz-box-shadow: 0px 0px 10px 2px var(--highlightedtext);
  box-shadow: 0px 0px 10px 2px var(--highlightedtext);
  font-size: 20px;
}

.submitDisable {
  opacity: 0.3;
  cursor: not-allowed;
}

.updateName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.updateName input {
  width: 300px;
}

.updateNameButton {
  background: var(--backgroundimagegradient);
  color: white;
  border-radius: 8px;
  border: none;
  padding: 10px 24px;
  cursor: pointer;
  width: 200px;
  font-size: 16px;
}

.updateDisable {
  opacity: 0.3;
  cursor: not-allowed;
}

.orderData .submitButton {
  width: 350px;
  margin: 24px 0;
}

.withdrawButton {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.addAction {
  display: flex;
  justify-content: flex-end;
}

.loader {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #f8ba48;
  position: relative;
}

.loader img {
  height: 80px;
  width: 80px;
  animation: lightson 0.75s ease 4 forwards;
  margin-bottom: 12px;
}

@keyframes lightson {
  0% {
    opacity: 0;
    /* text-shadow: 0px 0px 0px #fe1dad, 0px 0px 0px #fe1dad, 0px 0px 0px #fe1dad;
      box-shadow: 0px 0px 0px 0px #fe1dad, 0px 0px 0px 0px #fe1dad; */
    /* 0px 0px 0px 0px #fe1dad, inset 0px 0px 0px #fe1dad; */
  }
  20% {
    opacity: 0.5;
    /* text-shadow: 0px 0px 2.5px #fe1dad, 0px 0px 5px #fe1dad,
        1px 1px 25px #fe1dad;
      box-shadow: 0px 0px 5px 0px #fe1dad, 0px 0px 10px 0px #fe1dad,
        0px 0px 50px 0px #fe1dad, inset 0px 0px 20px #fe1dad; */
  }
  40% {
    opacity: 1;
    /* text-shadow: 0px 0px 1px #fe1dad, 0px 0px 2px #fe1dad, 0px 0px 10px #fe1dad;
      box-shadow: 0px 0px 2px 0px #fe1dad, 0px 0px 5px 0px #fe1dad,
        0px 0px 25px 0px #fe1dad, inset 0px 0px 10px #fe1dad; */
  }
  50% {
    opacity: 0.5;
    /* text-shadow: 0px 0px 5px #fe1dad, 0px 0px 10px #fe1dad, 1px 1px 50px #fe1dad;
      box-shadow: 0px 0px 10px 0px #fe1dad, 0px 0px 20px 0px #fe1dad,
        0px 0px 100px 0px #fe1dad, inset 0px 0px 30px #fe1dad; */
  }
  100% {
    opacity: 1;
    /* text-shadow: 0px 0px 5px #fe1dad, 0px 0px 10px #fe1dad, 1px 1px 50px #fe1dad;
      box-shadow: 0px 0px 10px 0px #fe1dad, 0px 0px 30px 0px #fe1dad,
        0px 0px 100px 0px #fe1dad, inset 0px 0px 30px #fe1dad; */
  }
}

.orderData {
  display: flex;
  flex-direction: column;
}

.orderData strong {
  width: 40%;
  background-color: var(--databackgroundgradient);
  border-radius: 0px 100px 100px 0px;
  padding: 12px;
  display: flex;
  align-items: center;
}

.orderData span {
  padding-left: 8px;
  width: 40%;
  padding: 12px;
}

input {
  height: 30px;
  border: 1px solid var(--textcolor);
  border-radius: 8px;
  padding: 0 16px 0 8px;
  color: var(--textcolor);
}

.tipMeApp {
  display: flex;
  align-items: center;
}

.appTitle {
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 8px 32px;
  font-size: 28px;
  font-weight: bold;
  background: white;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.appTitleIcon {
  width: 35px;
  height: 35px;
  margin-right: 12px;
}

.searchBar {
  width: 80%;
  padding: 16px 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: white;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.searchIcon {
  width: 20px;
  height: 20px;
  margin: 0px 16px;
}

.profileIcon {
  width: 28px;
  height: 28px;
  margin: 0px 16px;
  cursor: pointer;
}

.disableProfile {
  cursor: not-allowed;
  opacity: 0.5;
}

.connectIcon {
  width: 50px;
  height: 50px;
  margin: 16px;
}

.notification {
  position: relative;
  display: flex;
  align-items: center;
}

.notificationNumber {
  position: absolute;
  right: 8px;
  top: -8px;
  background: red;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavBar {
  width: 20%;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navBarItems {
  height: 100%;
}

.eachItem {
  display: flex;
  align-items: center;
  color: black;
  border-radius: 8px;
  padding: 12px;
  margin: 18px 0;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.selected {
  display: flex;
  align-items: center;
  color: white;
  background: var(--backgroundimagegradient);
  border-radius: 8px;
  padding: 12px;
  margin: 18px 0;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px 2px var(--highlightedtext);
  -moz-box-shadow: 0px 0px 10px 2px var(--highlightedtext);
  box-shadow: 0px 0px 10px 2px var(--highlightedtext);
}

.dashboard {
  height: 100%;
}

.welcomeBox {
  border-radius: 20px;
  background: var(--backgroundimagegradient);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  padding: 0 16px;
  margin: 32px 32px 24px 32px;
}

.welcomeText {
  font-size: 20px;
}

.welcomeName {
  margin-top: 4px;
  font-size: 32px;
}

.waiterName {
  font-size: 32px;
}

.waiterAccount {
  font-size: 20px;
}

.welcomeBalance {
  font-size: 24px;
}

.stats {
  margin: 0 32px;
}

.allStats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
}

.infoBox {
  width: 100%;
  border-radius: 8px;
  background: var(--backgroundimagegradient);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  color: white;
  height: 200px;
  font-size: 40px;
}

.green {
  background: #105d16;
}

.red {
  background: #ca0505;
}

.orange {
  background: #de7813;
}

.blue {
  background: #06befa;
}

.steelblue {
  background: steelblue;
}

.violet {
  background: #ba0163;
}

.infoTitle {
  display: flex;
  align-items: center;
  padding: 24px;
  font-size: 32px;
}

.infoLabel {
  padding: 24px;
  margin: 0 auto;
}

.statIcon {
  margin-right: 12px;
}

.navIcon {
  margin-right: 8px;
}

.addOrder,
.orderHistory,
.tipHistory,
.serverLeaderboard {
  z-index: 1;
  height: 100%;
}

.addOrderData,
.orderHistoryData,
.tipHistoryData,
.serverLeaderboardData {
  padding: 32px 32px 16px 32px;
}

.orderSection {
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 16px;
  background: white;
}

.servedBy {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.orderServedText {
  margin-right: 8px;
}

.qrCode {
  width: 300px;
  height: 350px;
}

.servedByButton {
  background: var(--backgroundimagegradient);
  color: white;
  border-radius: 8px;
  border: none;
  padding: 12px 24px;
  width: fit-content;
}

.addOrderButton {
  background: var(--backgroundimagegradient);
  color: white;
  border-radius: 8px;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  width: 200px;
  margin: 16px 0 16px auto;
  font-size: 18px;
}

.addOrderDisable {
  opacity: 0.3;
  cursor: not-allowed;
}

.thankyou {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tipData {
  display: flex;
  margin-top: 16px;
}

.tipSubmit {
  display: flex;
  flex-direction: column;
  margin: 24px 0 0 auto;
}

.tipSubmit input {
  width: 200px;
}

.doneButton {
  background: var(--backgroundimagegradient);
  color: white;
  border-radius: 8px;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  margin: auto;
  width: 300px;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.addOrderDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.qrtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.orderItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.qrtitle .title {
  font-size: 24px;
  width: auto;
  margin-bottom: 24px;
}

.orderItems .title {
  font-size: 24px;
  width: auto;
  margin: 0 auto 24px auto;
}

.orderItems input {
  width: 80%;
}

.profileDetails {
  font-size: 24px;
  padding: 32px;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.profileField {
  max-width: 200px;
}

.tipData input {
  width: 200px;
  margin-left: 16px;
}

.addIcon {
  margin-right: 8px;
}

.addItem {
  display: flex;
  cursor: pointer;
  margin: 16px auto;
  align-items: center;
  border: 1px solid var(--text-color);
  border-radius: 8px;
  padding: 4px 16px;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
